  <footer class="bg-light text-center py-3 mt-5">
    <p>&copy; <%= new Date().getFullYear() %> Sadaf Darwish | StudentID: 301493791</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>