<%- include('partials/header') %>

<main class='container py-5'>
    <h1>About Me</h1>
    <p>
        Hello! My name is <strong>Sadaf Darwish</strong>, and I am a full time student in the
        <strong> Software Engineering Technology – Artificial Intelligence program</strong> at
        Centennial College. I have a strong interest in technology and I’m motivated to keep
        learning and improving my skills.
    </p>
    <p>
        In 2024, I completed several projects and assignments that helped me practice the
        fundamentals of <strong>web development, programming, databases, and software engineering</strong>.
        From building multi page websites in HTML/CSS, to creating C# console applications, to
        drawing UML diagrams and designing ER models, each course gave me valuable hands-on experience.
    </p>
    <p>
        My ambition is to continue building a strong foundation in software development while
        exploring areas like <strong>React, Python, and databases</strong>. I’m excited to keep growing
        my technical skills, contribute to real world projects, and build a career in the tech industry.
    </p>
    <img class="img-fluid rounded mb-3" src="/images/SadafDarwishimage.jpg" alt="Headshot">
    <p><a class="btn btn-outline-primary" href="/docs/resume.pdf" target="_blank">View Resume (PDF)</a></p></main>
<%- include('partials/footer') %>
