<%- include('partials/header') %>

<main class='container py-5'>
    <h1>Services</h1>
    <ul class="list-group">
        <li class="list-group-item">Programming Fundamentals - Learned structured programming in C# and Python, including loops, conditional logic, and input/output formatting.</li>
        <li class="list-group-item">Web development - Built multi-page websites using HTML5 and CSS3, applied internal links, image maps, and basic responsive layouts.</li>
        <li class="list-group-item">Basic mobile apps - Developed simple mobile applications using Java and Kotlin, focusing on user interface design and interaction.</li>
    </ul></main>
<%- include('partials/footer') %>
